.container-fluid
	.col-md-8.col-md-offset-2

		%h4= @event.name
		%br
		Event Description: 
		= @event.description
		%br
		Event Contact Name: 
		= @event.contact_name
		%br
		Event Contact Email: 
		= @event.contact_email
		%br
		Event Contact Phone: 
		= @event.contact_phone
		%br
		Event Start Date: 
		= formatted_date(@event.event_start_date)
		%br
		Event End Date: 
		= formatted_date(@event.event_end_date)
		%br
		Event Listing Expires On: 
		= formatted_date(@event.expire_on)
		/ %br
		/ Event Post Position: 
		/ = @event.post.position
		%br
		%br
		= link_to 'Edit', edit_event_path(@event), :class => "btn btn-warning"