.container-fluid
	.col-md-8.col-md-offset-2

		= button_to "Add New Newsletter Edition", new_newsletter_issue_path, method: "get", :class => "btn"
		

		%h1 All Newsletters Issues
		%br

		- @all_newsletter_issues.each do |issue|
			%h4= issue.title
			%br
			Issue Number: 
			= issue.number
			%br
			Status: 
			= issue.status
			%br
			Date Published: 
			= issue.publish_date
			%br
			Organization: 
			= issue.organization.name
			%br
			%br
			= link_to 'Edit', edit_newsletter_issue_path(issue), :class => "btn btn-warning"

			%br
			%br